.About {
    padding-top: 65px; 
    background-color: pink;
    border-radius: 25px;
    text-align: center;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    padding: 0px 20px 10px 20px;
    
    
}

.About h1 {
    font-size: 72px;
}

.About p {
    font-size: 20px;
    text-align: center;
}


  
  
.row {
    display: flex;
}
  
.column {
  flex: 33.33%;
  padding: 5px;
}

.Image {
  height: 50px ;
  width: 50px;

}

