.welcome-container {
    padding-top: 65px; 
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}
  
.right {
    display: inherit;
    align-items: center;
}
  
.welcome-text {
    padding-left: 20px;
    margin: 50px;
    font-size: 38px;   
}

h1 {
    margin-bottom: 1px;
}

p {
    font-size: 24px;
}

.button {
    background-color: rgb(255, 0, 149) ;
    padding: 10px ;
    border: 1px solid rgb(207, 5, 157) ;
    width: 100px; 
    margin: auto;  
    
    
}

a {
    text-decoration: none;
    color: white;    
}



